@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  font-family: $space-mono, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

// HEADER
h1 {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.851rem;
  color: $white;
}

.mode {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.925rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: $white;
}

// SEARCH SECTION
// Input placeholder text styling:
// source: https://css-tricks.com/almanac/selectors/p/placeholder/
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $white;
  font-weight: 400;
  font-family: inherit;
  font-size: 1.3rem;

  // TABLET
  @include responsive(tablet) {
    font-size: 1.8rem;
  }
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $white;
  opacity: 1;
  font-weight: 400;
  font-family: inherit;
  font-size: 1.3rem;

  // TABLET
  @include responsive(tablet) {
    font-size: 1.8rem;
  }
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $white;
  font-weight: 400;
  font-family: inherit;
  font-size: 1.3rem;

  // TABLET
  @include responsive(tablet) {
    font-size: 1.8rem;
  }
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $white;
  font-weight: 400;
  font-family: inherit;
  font-size: 1.3rem;

  // TABLET
  @include responsive(tablet) {
    font-size: 1.8rem;
  }
}

// USER CARD

// User bio
.user {
  text-align: left;

  &__name {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.37rem;
    color: $white;

    // TABLET
    @include responsive(tablet) {
      font-size: 2.6rem;
      line-height: 3.851rem;
    }
  }

  &__account {
    font-size: 1.3rem;
    line-height: 1.925rem;
    color: $azure;

    // TABLET
    @include responsive(tablet) {
      font-size: 1.6rem;
      line-height: 2.37rem;
    }
  }

  &__creation {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.925rem;
    color: $white;

    // TABLET
    @include responsive(tablet) {
      font-size: 1.5rem;
      line-height: 2.222rem;
    }
  }
}

// Profile
.profile {
  &__intro {
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: $white;

    // TABLET
    @include responsive(tablet) {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }

  &__table {
    & th {
      font-size: 1.1rem;
      line-height: 1.629rem;
      color: $white;

      // TABLET
      @include responsive(tablet) {
        font-size: 1.3rem;
        line-height: 1.925rem;
      }
    }

    & td {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 2.37rem;
      color: $white;

      // TABLET
      @include responsive(tablet) {
        font-size: 2.2rem;
        line-height: 3.258rem;
      }
    }
  }
}

// Social
.social {
  list-style-type: none;
  color: $white;
  font-size: 1.3rem;
  line-height: 1.925rem;

  // TABLET
  @include responsive(tablet) {
    font-size: 1.5rem;
    line-height: 2.222rem;
  }

  & a {
    color: $white;
    text-decoration: none;
  }
}
