@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

header {
  margin-bottom: 3.6rem;

  // TABLET
  @include responsive(tablet) {
    margin-bottom: 3.5rem;
  }

  h1 {
    margin: 0;
  }

  .theme-switcher {
    display: flex;
    justify-content: space-around;
  }

  .mode {
    text-align: right;
    margin-right: 1.6rem;
  }

  .mode-icon {
    width: 2rem;
    height: 2rem;
    justify-self: flex-end;
  }
}
