@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

header {
  margin-bottom: 3.6rem;

  // TABLET
  @include responsive(tablet) {
    margin-bottom: 3.5rem;
  }

  h1 {
    margin: 0;
  }

  .user-toggle {
    display: flex;
  }

  .toggle {
    justify-content: space-around;
    display: flex;
  }

  .toggle__text {
    margin-right: 1.6rem;
  }

  .mode-icon {
    width: 20px;
    height: 20px;
  }
}
