@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.user {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: auto;
  column-gap: 1.95rem;
  padding-top: 3.2rem;
  margin-bottom: 3.3rem;

  // TABLET
  @include responsive(tablet) {
    column-gap: 4.1rem;
    padding-top: 5.2rem;
    margin-bottom: 4.2rem;
  }

  // DESKTOP
  @include responsive(desktop) {
    grid-template-columns: 0.5fr 1fr 1fr;
  }

  &__img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    grid-column: 1/2;
    grid-row: 1/4;

    // TABLET
    @include responsive(tablet) {
      width: 11.7rem;
      height: 11.7rem;
    }

    // DESKTOP
    @include responsive(desktop) {
      grid-column: 1/2;
    }
  }

  &__avatar {
    width: 7rem;
    height: 7rem;

    border-radius: 50%;
    grid-column: 1/2;
    grid-row: 1/4;

    // TABLET
    @include responsive(tablet) {
      width: 11.7rem;
      height: 11.7rem;
    }

    // DESKTOP
    @include responsive(desktop) {
      grid-column: 1/2;
    }
  }

  &__name {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  &__account {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 0.6rem;

    // TABLET
    @include responsive(tablet) {
      margin-bottom: 0.4rem;
    }
  }

  &__creation {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;

    // DESKTOP
    @include responsive(desktop) {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }
}
