// COLORS
$azure: hsla(212, 100%, 50%, 1);
$lynch: hsla(217, 20%, 51%);
$cloud-burst: hsla(222, 41%, 20%);
$kashmir-blue: hsla(217, 35%, 45%);
$ebony-clay: hsla(217, 35%, 45%);
$zircon: hsla(227, 100%, 98%);
$white: hsl(0, 0%, 100%);

// DARK MODE
$dark-body: hsla(220, 40%, 13%, 1);

// FONTS
$space-mono: 'Space Mono';
