// COLORS
$azure: #0077ff;
$lynch: #697c9b;
$cloud-burst: #1e2b48;

$ebony-clay: #4b699b;
$malibu: #61abff;

$white: #ffffff;

// DARK MODE
$dark-body: #141d2e;

// LIGHT MODE
$zircon: #f5f7ff;
$dark-clay: #2a3341;

$ebony: #212630;
$kashmir-blue: #4b699b;

// FONTS
$space-mono: 'Space Mono';
