@use "../abstracts/mixins" as *;

html,
body {
  height: 100%;
  display: grid;
}

.site {
  margin: auto;
  max-width: 32.7rem;

  // TABLET
  @include responsive(tablet) {
    max-width: 57.3rem;
  }
}
