@use '../abstracts/mixins' as *;

html,
body {
  height: 100%;
  display: grid;
}

.site {
  display: grid;
  margin: auto;
  width: 32.7rem;

  // PORTRAIT
  @include responsive(portrait) {
    width: 43rem;
  }

  // TABLET
  @include responsive(tablet) {
    width: 57.3rem;
  }

  // DESKTOP
  @include responsive(desktop) {
    width: 73rem;
  }

  // DESKTOP
  @include responsive(max) {
    width: 85rem;
  }
}
