@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  background-color: $zircon;
  @include dark {
    background-color: $dark-body;
  }
}

// HEADER
header {
  h1 {
    color: $ebony;
    @include dark {
      color: $white;
    }
  }
  .mode {
    color: $kashmir-blue;
    @include dark {
      color: $white;
    }
  }
}

// SEARCH SECTION
.search {
  & input {
    background-color: $white;
    box-shadow: 0px 16px 30px -10px hsla(227, 46%, 50%, 0.199);
    border-color: $zircon;
    color: $kashmir-blue;

    @include dark {
      background-color: $cloud-burst;
      box-shadow: none;
      border-color: $cloud-burst;
      color: $white;
    }
  }

  // Placeholder text colors
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $kashmir-blue;
    @include dark {
      color: $white;
    }
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $kashmir-blue;
    @include dark {
      color: $white;
    }
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: $kashmir-blue;
    @include dark {
      color: $white;
    }
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: $kashmir-blue;
    @include dark {
      color: $white;
    }
  }

  & button {
    background-color: $azure;
    color: $white;
    @include dark {
      background-color: $azure;
      color: $white;
    }

    &:hover,
    &:active {
      background-color: $malibu;
      transform: scale(0.99);
    }

    &:focus {
      outline-style: solid;
      outline-color: transparent;
      box-shadow: 0 0 0 2px lighten($malibu, 20);
    }
  }
}

.card {
  background-color: $white;
  box-shadow: 0px 16px 30px -10px hsla(227, 46%, 50%, 0.199);

  @include dark {
    background-color: $cloud-burst;
    box-shadow: none;
  }

  .user {
    &__name {
      color: $dark-clay;
      @include dark {
        color: $white;
      }
    }
    &__account,
    & p {
      color: $azure;
    }
    &__creation {
      color: $lynch;
      @include dark {
        color: $white;
      }
    }
  }

  // Profile
  .profile {
    &__intro {
      color: $kashmir-blue;
      @include dark {
        color: $white;
      }
    }

    &__table {
      background-color: $zircon;
      @include dark {
        background-color: $dark-body;
      }
      & th {
        color: $kashmir-blue;
        @include dark {
          color: $white;
        }
      }

      & td {
        color: $dark-clay;
        @include dark {
          color: $white;
        }
      }
    }
  }

  // Social
  .social {
    color: $kashmir-blue;
    @include dark {
      color: $white;
    }

    & a {
      color: $kashmir-blue;
      @include dark {
        color: $white;
      }
    }

    &__location--icon,
    &__website--icon,
    &__twitter--icon,
    &__company--icon {
      fill: $kashmir-blue;
      @include dark {
        fill: $white;
      }
    }
  }
}
